<style>
     footer {
      width: 100%;
        background-color: #0a4275;
        color: white;
        padding: 10px 0;
        text-align: center;
    }
</style>
<footer class="text-white mt-auto"  style="background-color: #0a4275;" id="footer">
    <!-- Grid container -->
    <div class="container p-2">
      <!-- Section: CTA -->
      <div class="row">
      	<div class='col-xs-12 col-sm-8 align-items-left'>
          <div class="row">
            <div class="col-12">
              <h5>PCMD end to end Autonomous Service tool</h5> 
            </div>
          </div>
          <div class="row">
            <div class="col-12 fw-light">
              Need Help?  <a href="https://wiki.ith.intel.com/display/ITSFID/Program+Config+Management+Dashboard" target="_blank" class="text-decoration-none">Wiki</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 fw-light">
             
              Have any Feedbacks? Raise a Ticket here (ISB0-3620):
              <a href="https://jira.devtools.intel.com/browse/ISB0-3620" target="_blank" class="text-decoration-none">JIRA</a>
            </div>
            
          </div>
            
          
          
        </div>
      	<div class='col-xs-12 col-sm-4'>
      		For any Query, Feel free to contact:<br>
          <div class="row row-cols-1 row-cols-md-2 mt-1">
            <a href="mailto:tejas.kawale@intel.com" class="text-decoration-none">Tejas Kawale</a>
            <a href="mailto:ankita.hora@intel.com" class="text-decoration-none">Ankita Hora</a>
          </div>    
      	</div>

      </div>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      ©  Intel Corporation
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


